/.idea/
/.gradle/
/build/
/run/
/bin/
/.classpath/
/.project/
/.settings/
/javelinpepe-recode-fabric_client.launch/
/javelinpepe-recode-fabric_server.launch//clickgui
/clickgui(1).zip

/clickgui
/clickgui(1).zip
